li {
	list-style: none;
}

.container {
	max-width: 800px;
}

.wrapper {
	background-color: #dcfcdc;
	border-radius: 5px;
	box-shadow: 0 0 35px #dcdcdc;
}

.form {
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #9bf5ef;
}

@media only screen and (max-width: 767px) {
	.form__input-wrapper {
		margin-bottom: 20px;
	}
}

.form__input {
	font-size: 1.3em;
}

.btn-add {
	font-size: 1.3em;
	text-transform: capitalize;
	background-color: #fff;
	transition: all 0.3s ease;
}

.btn-add:hover {
	background-color: #dcfcdc;
}

.btn-all {
	font-size: 1.1em;
	background-color: #fff;
	transition: all 0.3s ease;
}

.btn-all:hover {
	background-color: #dcfcdc;
}

.section {
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #9bf5ef;
}

.product__list {
	border-radius: 5px;
}

.product__item {
	font-size: 1.3em;
	border-radius: 5px;
}

.product__item:not(:last-child) {
	margin-bottom: 7px;
}

.product__input {
	background-color: #dcfcdc;
}

.product__quantity {
	display: block;
	border: 1px solid #9bf5ef;
	border-radius: 25px;
	max-width: 55px;
	background-color: #dcfcdc;
}

.icons__item {
	background-color: transparent;
	border: none;
}

.icons__link {
	display: block;
}

.icons__link svg {
	max-width: 30px;
	max-height: 30px;
	fill: #0d6efd;
	transition: all 0.3s ease;
}

.icons__link svg:hover {
	fill: #dcfcdc;
}
